*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


body{
    font-family: 'poppins', sans-serif;
}
.menu__logo{
    height: 50px;
    display: flex;
    align-items: center;
    
    
    
}
.menu__logo img{
    width: 75px;
    height: 75px;
}


.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid rgb(20, 17, 22);
    background-color: rgb(52, 46, 82);
    
}
.menu__nav ul{
    list-style-type: none;
    font-weight: 600; 
    
}

.menu__nav ul li{
    display: inline-block;
    margin-left: 2rem;
    
}


.main__img{
    width: 100%;
}
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(52, 46, 82);
}
button:hover{
    background-color: rgb(64, 21, 104);
}

.container{
    max-width: 1400px;
    margin: auto;
}


